@{
    ViewBag.Title = "Complete";
}

<h2>Order is succeeded</h2>
<p>Thank you very much!</p>
<p>We will send you email with all details...</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to homepage</a> 